
* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;
  transition: 
    background-image 0.5s ease,
    background-color 0.5s ease;
}

.site-wrapper--index {
  background-image: url("../img/slide-green.png");
}

.site-wrapper:before,
.site-wrapper:after {
  background-image: url("../img/slide-grey.png");
}

.site-wrapper:after {
  background-image: url("../img/slide-brown.png");
}

.content-wrapper {
  margin: 0 auto;
  min-width: 900px;
  max-width: 1200px;
  outline: 1px solid yellow; 
}

.container {
  width: 100%;
  padding: 0 2.3%;
  margin: 0 auto;
}

a {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

/* slider */

.slider {
  position: relative;
  padding-top: 270px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 70px;
}

.slider__title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  line-height: 41px;
  font-weight: 700;
  font-size: 60px;
}

.button--slide {
  display: inline-block;
  padding-top: 12px;
  padding-right: 50px;
  padding-bottom: 12px;
  padding-left: 50px;
  font-size: 31px;
  line-height: 41px;
  font-weight: 500;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 100px;
}

.slider__controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider__controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider__item {
  display: none;
}

#btn-1:checked ~ .site-wrapper--index #slide1,
#btn-2:checked ~ .site-wrapper--index #slide2,
#btn-3:checked ~ .site-wrapper--index #slide3 {
  display: block;
}  

#btn-1:checked ~ .site-wrapper--index label[for="btn-1"],
#btn-2:checked ~ .site-wrapper--index label[for="btn-2"],
#btn-3:checked ~ .site-wrapper--index label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-1:checked ~ .site-wrapper--index {
  background-color: #849d8f;
  background-image: url("../img/slide-green.png");
}

#btn-2:checked ~ .site-wrapper--index {
  background-color: #8996a6;
  background-image: url("../img/slide-grey.png");
}

#btn-3:checked ~ .site-wrapper--index {
  background-color: #9d8b84;
  background-image: url("../img/slide-brown.png");
}

/* buttons */

.button {
  display: inline-block;
  padding-top: 12px;
  padding-right: 13px;
  padding-bottom: 12px;
  padding-left: 13px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 100px;
}

.button:hover {
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
  background:  
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
    linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
}

.button:active {
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
  background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%),
    linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
}

.button--slide {
  font-size: 32px;
  line-height: 44px;
}

.main-header .container {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

/* главное меню обычное состояние */

.header-columns { /* flex-items: main-header__main-navigation + main-header__user-navigation */
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
  justify-content: space-between;
}

.main-header__main-navigation { /* flex-items: logo-navigation + site-navigation */
  display: inline-flex;
  justify-content: space-between;
  width: 570px;
}

.logo-navigation {
  width: 154px;
  height: 64px;
  padding-top: 8px;
  margin-right: 23px;
}

.logo-navigation__logo-field {
  display: inline-block;
}

/* меню сайта */

.site-navigation {
  width: 380px;
  padding-top: 20px; 
}

.site-navigation__list { /* sub-menu */
  width: 380px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
}

.site-navigation__item {
  padding-bottom: 20px;
}

.site-navigation__link {
  display: block;
  padding-top: 8px;
  padding-left: 13px;
  padding-bottom: 8px;
  padding-right: 13px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

/* наведение меню */

.site-navigation__link:hover,
.site-navigation__link:focus {
  font-weight: 700;
  color: #333333;
  background-color: #ffffff;
  border-radius: 100px;
}

/* нажатие меню */

.site-navigation__link:active {
  font-weight: 700;
  color: #333333;
  background-color: #ededed;
  border: none;
  border-radius: 100px;
  box-shadow: inset 0 2px 1px 0 #696969;
}

/* находимся на странице */

.site-navigation__link--current {
  font-weight: 700;
  color: #ffffff;
  background-color: #d07058;
  border: none;
  border-radius: 100px;
}

/* выпадающее меню каталога */

.navigation-catalog {
  position: relative;
}

.navigation-catalog__sub-menu {
  list-style: none;
  position: absolute;
  top: 39px;
  display: none;
  width: 145px;
  color: #000000;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  z-index: 1;
}

.navigation-catalog__link {
  display: block;
  padding-top: 6px;
  padding-left: 18px;
  padding-bottom: 6px;
  padding-right: 18px;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.new-products {
  font-weight: 700;
  border-bottom: 1px solid rgba(209, 208, 206, 0.2);
}

.navigation-catalog:hover .navigation-catalog__sub-menu,
.navigation-catalog:focus .navigation-catalog__sub-menu {
  display: block;
}

/* наведение выпадающего меню каталога */

.navigation-catalog__link:hover,
.navigation-catalog__link:focus {
  background-color: #fbded7;
}

/* нажатие выпадающего меню каталога */

.navigation-catalog__link:active {
  background-color: #f6b5a5;
}

/* находимся на странице раздела каталога*/

.navigation-catalog__item--current {
  background-color: #d07058;
}

/* user-navigation */

.main-header__user-navigation { /* flex-items: search + user-login + cart */
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 270px;
}

.working-information {
  width: 180px;
  margin-left: auto;
}

/* поиск */

.search {
  position: relative;
  margin-top: 18px;
  padding-bottom: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search__icon {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.search__icon::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  background-image: url("../img/lupe.svg");
  background-repeat: no-repeat; 
  background-position: 50% 50%;
}

.search__icon:hover {
  background-color: #f8f7f4;
}

.search__form {
  position: absolute;
  top: 39px;
  left: -315px;
  display: none;
  padding: 20px 15px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  border: 1px solid #999999;
  border-radius: 6px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.search__field {
  width: 315px;
  height: 48px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.search:hover .search__form {
  display: block;
}

/* вход в личный кабинет */

.user-login {
  position: relative;
  margin-top: 18px;
  padding-bottom: 20px;
}

.user-login__icon {
  position: relative;
  padding-top: 8px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 45px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  vertical-align: center;
}

.user-login__icon::before {
  content:"";
  position: absolute;
  top: 0px;
  left: 9px;
  background-image: url("../img/login.svg");
  background-repeat: no-repeat; 
  background-position: 50% 50%;
  padding: 16px;
}

.user-login__icon:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.user-login__form {
  position: absolute;
  top: 39px;
  left: -150px;
  display: none;
  padding-top: 20px;
  padding-left: 18px;
  padding-bottom: 20px;
  padding-right: 19px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  border-color: #999999;
  border-radius: 6px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
} 

.user-login:hover .user-login__form {
  display: block;
}

.email__field,
.password__filed {
  margin-top: 0;
  margin-bottom: 20px;
}

.user-login__restore-password,
.user-login__new-user {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  text-decoration-color: rgba(50, 50, 50, 0.2);
}

.user-login__restore-password:hover,
.user-login__restore-password:focus,
.user-login__new-user:hover,
.user-login__new-user:focus {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #e84d37;
  text-decoration-color: rgba(232, 77, 55, 0.2);
}

/* cart */

.cart {
  position: relative;
  margin-top: 18px;
  padding-bottom: 20px;
}

.cart__icon { 
  position: relative;
  padding-top: 8px;
  padding-left: 45px;
  padding-bottom: 8px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.cart__icon::before {
  content:"";
  position: absolute;
  top: 0;
  left: 10px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat; 
  background-position: 50% 50%;
  border-radius: 50%;
  padding: 15px;
}

/* catalog-cart */

.cart__icon:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.cart__form {
  position: absolute;
  display: none;
  top: 39px;
  left: -260px;
  padding-top: 20px;
  padding-right: 13px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
} 

.item-details__price {
  color: #999999;
}

.cart__summary {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}
.cart:hover .cart__form {
  display: block;
}

.cart__list {
  display: table;
}

.cart__item,
.cart__summary {
  list-style: none;
  display: table-row;
}

.cart__item li,
.cart__summary li {
  display: table-cell;
}

/* slides */

.slides__title {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  text-align: center;
}

.slides__item--raspberry {
  background-color: #849d8f;
  background-image: url("../img/slide-green.png");
  background-position: center;
  background-repeat: no-repeat;
}

.slides__item--lemon {
  background-color: #8996a6;
  background-image: url("../img/slide-grey.png");
  background-position: center;
  background-repeat: no-repeat;
}

.slides__item--strawberry {
  background-color: #9d8b84;
  background-image: url("../img/slide-brown.png");
  background-position: center;
  background-repeat: no-repeat;
}

/* banners */

.banners {
  display: flex;
  margin-bottom: 40px;
}

.banners__item {
  flex-grow: 1;
  padding-top: 20px;
  padding-left: 21px;
  padding-right: 22px;
}

.banners__item-title {
  margin-bottom: 17px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.banners__offer {
  font-size: 18px;
  line-height: 22px;
}

.banners__item--raspberry {
  margin-right: 2.2%;
  background-color: #bf0e40;
  background-image: url("../img/raspberry-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 15px;
}

.banners__item--chocolate {
  background-color: #76554a;
  background-image: url("../img/chocolate-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 15px;
}

/* каталог */

.catalog {
  margin-bottom: 40px;
}

.catalog--index {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.catalog-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.catalog__product {
  width: 22.2%;
  position: relative;
  margin-right: 2.2%;
  margin-bottom: 38px;
}

.catalog__product:nth-of-type(4n) {
  margin-right: 0;
}

.catalog__link:hover {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.product__order {
  position: absolute;
  top: -2%;
  left: -5%;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding-bottom: 50px;
  width: 110%;
  height: 125%;
  z-index: 1;
  opacity: 0;
  text-align: center;
}

.catalog__product:hover .product__order {
  opacity: 1;
}

.button--product {
  position: relative;
  display: inline-block;
  z-index: 2;
  top: 95%;
}

.product--best-seller::before {
  content:"";
  position: absolute;
  top: 0px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  padding: 31px;
  z-index: 1;
}

.product__link {
  position: relative;
  display: inline-block;
  color: #ffffff;
}

.product__view {
  width: 100%;
  height: auto;
  max-width: 267px;
}

.product__price {
  position: absolute;
  content: "";
  top: 60%;
  left: 0px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  cursor: pointer;
}

.product__measure {
  font-size: 30px;
}

.product__name {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration-style: solid;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  text-decoration-line: underline;
  text-align: center;
}

/* features */

.features {
  margin-bottom: 40px;
  padding-top: 27px;
  padding-left: 21px; 
  padding-right: 34px;
  padding-bottom: 5px;
  background-image: url("../img/wafer-background.jpg");
  background-repeat: repeat;
  border-radius: 15px;
}

.features__shop-describtion {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.features-wrap {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
}

.features__item {
  width: 45%;
  margin-right: 2.2%;
  flex-grow: 1;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.features__item:nth-of-type(2n) {
  margin-right: 0;
}

.features__item::before {
  content:"";
  position: absolute;
  top: -10px;
  background-repeat: no-repeat;
  padding: 31px;
}

.features__item-details {
  margin-bottom: 27px;
  padding-left: 55px;
}

.features__item--production::before {
  background-image: url("../img/icecream.svg");
}

.features__item--materials::before {
  background-image: url("../img/leaf.svg");
}

.features__item--suppliers::before {
  background-image: url("../img/cow.svg");
}

.features__item--package::before {
  background-image: url("../img/thermometer.svg");
}

/* news__blog */

.news {
  display: flex; /* flex-items: news__blog + news__subscription */
  justify-content: space-between;
  margin-bottom: 40px;
}

.news__blog {
  width: 46.6%;
  flex-grow: 1;
  margin-right: 2.2%;
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 15px;
}

.news-blog__section {
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.news-blog__title {
  padding-bottom: 87px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration-style: solid;
  text-decoration: #323232;
  text-decoration-line: underline;
}

/* subscription */

.news__subscription {
  width: 46.6%;
  flex-grow: 1;
  margin-right: 0;
  background-image: url("../img/subscription.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 15px;
  padding: 6px;
}

.news__subscription__wrap {
  background-color: #f8f7f4;
  border-radius: 10px;
  padding-top: 38px;
  padding-left: 27px; 
  padding-right: 27px;
  padding-bottom: 41px;
}

.subscription-form__greeteting {
  margin-bottom: 37px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
}

/* contacts */

.contacts {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 20px;
}

.contacts__map {
  margin: 0 auto;
  background-image: url("../img/map.jpg");
  width: 100%;
  height: 430px;
}

.contacts__details {
  box-sizing: border-box;
  margin-top: 18px;
  margin-right: 20px;
  margin-left: auto;
  width: 302px;
  padding-top: 30px;
  padding-left: 25px; 
  padding-right: 25px;
  padding-bottom: 28px;
  background-color: #fefefe;
  border-radius: 15px;
  color: #323232;
}

.shop-contacts__subtitle {
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

}

.shop-contacts__subtitle--tel {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

}

.shop-contacts__address {
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

}

.shop-contacts__tel {
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.shop-contacts__working-hours {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.modal-feedback {
  padding-top: 19px;
  padding-left: 25px; 
  padding-right: 25px;
  padding-bottom: 25px;
  background-color: #f8f7f4;
}

.modal-feedback__greeting {
  margin-bottom: 19px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback-form__user,
.feedback-form__email {
  margin-bottom: 21px;
}

.feedback-form__feedback {
  margin-top: 0;
  margin-bottom: 27px;
}

.feedback-form__user-field,
.feedback-form__email-field,
.feedback-form__feedback-field {
  border-radius: 5px;
  padding: 14px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #323232;
  border-color: #b2b2b2;
}

.feedback-form__user-field:hover,
.feedback-form__email-field:hover,
.feedback-form__feedback-field:hover {
  border-color: #9a9a9a;
} 

.feedback-form__user-field:focus,
.feedback-form__email-field:focus,
.feedback-form__feedback-field:focus {
  border-color: #2e88e4;
} 

/* footer-social */

.footer-social__list {
  list-style: none;
}
 
.footer-social__link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

/* footer-navigation */

.footer-navigation__list {
  list-style: none;
}

.footer-navigation__link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.information-for-suppliers {
  position: relative;
  font-weight: 700;
}

.information-for-suppliers::before {
  content:"";
  position: absolute;
  top: 0;
  left: -23px; 
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  padding: 15px;
} 

.footer-navigation__link:hover,
.footer-navigation__link:focus,
.footer-navigation__link:active {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.2);
}

 /* footer-social */

 .container--footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

 .footer-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
 }

 .footer-social__item {
  width: 38px;
 }

.footer-social__list {
  display: inline-flex;
  justify-content: space-between;
  width: 190px;
}

.social-button {
  display: inline-block;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  border: 3px solid rgba(255, 255, 255 0.5);
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  opacity: 1;
  border: 3px solid rgba(255, 255, 255 0.7);
}

.social-button:active {
  opacity: 1;
  border: 3px solid rgba(255, 255, 255 0.7);
  box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 0.004);
}

.social-button--twitter {
  background-image: url("../img/twite.svg");
 }

.social-button--instagram {
   background-image: url("../img/instagram.svg");
}

.social-button--facebook {
   background-image: url("../img/fb.svg");
}

.social-button--vkontakte {
   background-image: url("../img/vk.svg");
}

/* footer-navigation */

.footer-navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  flex-direction: row;
  width: 340px;
}

.footer-navigation__item {
  width: 170px;
}


/* footer-copyright */

.footer-social__list,
.footer-navigation__list {
  list-style: none;
}

.footer-copyright {
  width: 200px;
}

.footer-copyright__details,
.footer-copyright__link {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.footer-copyright__logo {
  display: block;
  margin-bottom: 10px;
}

.footer-copyright__details {
  display: block;
}

/* catalog breadcrumbs */

.main-content__page-title {
  margin-bottom: 26px;
}

.breadcrumbs {
  margin-bottom: 5px;
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  width: 230px;
}

.breadcrumbs__item {
  
}

.breadcrumbs__link,
.breadcrumbs__item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs__link {
  position: relative;
}

.breadcrumbs__link::after {
  position: absolute;
  content: "";
  top: 6px;
  left: 60px;
  border: 1px solid #ffffff;
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: transparent;
  border-left: transparent;        
}

.breadcrumbs__link::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 57px;
  border: 1px solid #ffffff;
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: transparent;
  border-left: transparent;        
}

.main-content__page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.filters__form { /* flex-items: filter__section--layout + filter__section--range + filter__section--fat + filter__section--stuffing*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

.filter__section--layout {
  width: 193px;
  margin-bottom: 17px;
}

.filter__section--range {
  width: 218px;
  margin-bottom: 17px;;
}

.filter__section--fat {
  width: 415px;
  margin-bottom: 17px;
}

.options--fat {
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 17px;
}

.filter__section--stuffing {
  display: inline-flex;
  justify-content: space-between;
  width: 702px;
}

.options--stuffing {
  display: inline-flex;
  justify-content: space-between;
}

.filter__button {
  box-sizing: border-box;
  width: 148px;
  height: 41px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  background-color: #9db1a5;
  border: 2px solid #ffffff;
  border-radius: 100px;
}

.filter__button:hover,
.filter__button:focus {
  color: #323232;
  background-color: #fbfcfb;
  border: none;
}

.filter__button:active {
  color: #323232;
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
  border: none;
}

.filter__title {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
}

.filter__section {
  border: none;
}

.filter__options {
  padding: 9px 18px;
}

.filter__options {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  list-style: none;
  background-color: #9db1a5;
  border-radius: 100px;
  border: none;
}

.options--layout:hover {
  color: #323232;
  background-color: #ffffff;
}

/* pagination-list */

.paginator {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.pagination-list {
  list-style: none;
  display: inline-flex;
  width: 170px;
}

.pagination-list__item {
  width: 26px;
  margin-right: 10px;
}

.pagination-list__item:last-child {
  margin-right: 0;
}

.pagination-list__link {
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50%;
}

.pagination-list__previous {
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-right: 18px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-left: 1px solid rgba(245, 245, 245, 0.2);
  border-bottom: 1px solid rgba(245, 245, 245, 0.2);
  border-top: transparent;
  border-right: transparent;       
}

.pagination-list__next {
  display: inline-block;
  margin-top: 5px;
  margin-left: 18px;
  margin-bottom: 5px;
  margin-right: 10px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: transparent;
  border-left: transparent;        
}

.pagination-list__link--current {
  color: #323232;
  background-color: #ffffff;
}

.pagination-list__link:hover,
.pagination-list__link:focus {
  color: #ffffff;
  background-color: #9db1a5;
}

.pagination-list__link:active {
  color: #323232;
  background-color: #ffffff;
}